/*body {
background-image: url("src/img1.jpg");
background-repeat: no-repeat;
background-size: auto
}*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  background-color: black;
  margin: auto;
  max-width: 60rem;
  width: 100%;
  display: block;
}

@font-face {
   font-family: cookies;
   src: url(src/OCRAEXT.ttf) format('truetype');
 }

html {
font-family: cookies, Verdana, Tahoma, Geneva, sans-serif;
font-size: 20px;
color: #333;
}

header{
width: 100%;
background-color: orange;
margin-bottom: 1%;
text-align: center;
}

nav {
float: left;
width: 20%;
background-color: green;
}

section {
float: left;
width: 58%;
height: 100px;
background-color: yellow;
margin-right: 1%;
margin-left: 1%;
}

section>header {
float: left;
width: 100%;
background-color: lightblue;
}

section>article {
float: left;
width: 50%;
margin-left: 25%;
background-color: blue;
text-align: center;
}

section>footer {
float: left;
width: 50%;
margin-left: 25%;
margin-top: 10px;
background-color: gray;
text-align: center;
}

section>footer:hover {
}

aside{
float: right;
width: 20%;
background-color: green;
text-align: left;
}

footer.footer {
	margin-top: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    float: left;
    background-color: lavender;
    text-align: center;
}

.header {
	font-size: 40px;
  background-color: magenta;
}

.footer {
	font-size: 20px;
  background-color: magenta;
}
.content {
	font-size: 20px;
}

.navigation {
	font-size: 22px;
  background-color: blue;
}
.sidebar {
	font-size: 20px;
  background-color: magenta;
}